# Stata files
*.log
FEM_Stata/Makedata/ELSA/*.log
*.gph
*.png

# C++
*.o
FEM_CPP/optimized/*.o
*.d

# log files
log_*.txt

# Compiled FEM
FEM

# test.xml (not really sure what this is)
FEM_Stata/Estimation/test.xml

# Model files (built in workflow)
FEM_CPP_settings/ELSA/models/*.est
FEM_Stata/Estimates/ELSA/*.ster

# Input data (only need select files the rest are generated)
input_data/detailed_output/
input_data/*.dta
input_data/WIP/
input_data/validate/*
FEM_Stata/Makedata/ELSA/*.dta
!input_data/H_ELSA_f_2002-2016.dta
!input_data/census_pop_estimates_02-18.csv
!input_data/CT0469_2011census_educ.csv
!input_data/psid_incoming_cut_points.dta
!input_data/psid_incoming_means.dta
!input_data/psid_incoming_vcmatrix.dta
!input_data/crossvalidation.dta
!input_data/education_data.dta
!input_data/pop_projections.dta

# Output files
output/*
!output/scripts/*

# Jetbrains
.idea/
FEM_CPP/.idea/

# Summary output file (generated)
FEM_CPP_settings/summary_output_ELSA.txt
