# Stata files
*.log
FEM_Stata/Makedata/ELSA/*.log
FEM_CPP_settings/*.log
FEM_Stata/Estimation/*.log
*.gph
*.png

# C++
*.o
FEM_CPP/optimized/*.o
*.d

# log files
log_*.txt

# Compiled FEM
FEM

# test.xml (not really sure what this is)
FEM_Stata/Estimation/test.xml

# Model files (built in workflow)
FEM_CPP_settings/ELSA/models/*.est
FEM_CPP_settings/ELSA/models/crossvalidation/*.est
FEM_CPP_settings/ELSA_cross-validation/models/*.est
FEM_CPP_settings/ELSA_minimal/models/*.est
FEM_Stata/Estimates/ELSA/*.ster
FEM_Stata/Estimates/minimal/*.ster
FEM_Stata/Estimates/ELSA/crossvalidation/*.ster
FEM_Stata/Estimates/ELSA_minimal/*.ster
FEM_Stata/Estimates/ELSA/FEM_estimates_table.xml
FEM_Stata/Estimates/ELSA/crossvalidation/
FEM_Stata/Estimates/ELSA/estim_parameters*
FEM_Stata/Estimates/ELSA/estimatesCV*
FEM_Stata/Estimates/ELSA/estimatesELSA*

# Input data (only need select files the rest are generated)
input_data/detailed_output/*.dta
input_data/*.dta
input_data/cross_validation/*.dta
FEM_Stata/Makedata/ELSA/*.dta
!input_data/census_pop_estimates_02-18.csv
!input_data/CT0469_2011census_educ.csv
!input_data/psid_incoming_cut_points.dta
!input_data/psid_incoming_means.dta
!input_data/psid_incoming_vcmatrix.dta
input_data/*.csv
!input_data/ukevo.xls
input_data/detailed_output/*
input_data/detailed_output/

# Cross validation data
analysis/techdoc_ELSA/ELSA_2002_2016.dta
analysis/techdoc_ELSA/*.dta

# Output files
output/*
!output/scripts/*

# Jetbrains
.idea/
FEM_CPP/.idea/

# Summary output file (generated)
FEM_CPP_settings/summary_output_ELSA.txt

# Data files produced in cross-validation and calculation of T-tests
analysis/techdoc_ELSA/*.dta
FEM_CPP_settings/summary_output_ELSA_*

# R files
FEM_R/*.nb.html
.Rhistory
input_data/.RData
input_data/*.mids

# hotdeck intermediate data files
FEM_Stata/Makedata/ELSA/hotdeck_data/*.dta
FEM_Stata/Makedata/ELSA/hotdeck_data/

# stata_extensions
stata_extensions.txt
